nav {
    background-color: #1F487E; 
}

body {
    color: #e6e6e6;
    background-color: #052161;
    background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

div > .card-body {
    background-color: #052161;
}

.navbar {
    background-color: #052161;
}
/*
.container {
    background-color: #052161;
}
*/
.jumbotron {
    background-color: #376996;
}
/*
.jumbotron > h1, p {
    background-color: rgba(55,105,150,0.50);
    color: #fafafa;
}
*/
.carousel-inner > .carousel-item > img {
    width: 50%;
    height: 50%;
    background-size: cover;
}

/*index.html card design*/
.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card .image img {
    width: 100%;
    transition: .5s;
}
.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: #e8e8e8;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.card .details .center h1 {
    font-size: 14px;
    color: #262626;
}
.card .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
   /* background-color: #1F487E;*/
}